@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

.container {
  width: 100%;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

a,
button {
  transition: all 0.2s ease-in-out;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}
